
<div class="header-container">
  <div class="header">
    <div class="name-container">
      <img src="../assets/speckles.png" width="100px" height="100px">
      <h1 class="name"> Eli Weinberger </h1>
    </div>
    <div class="personal-info-container">
      <p>elibweinberger@gmail.com</p>
      <p>(215) 595-6276</p>
    </div>
  </div>
</div>


<div class="content-container">
  <div class="content">
    <div class="side-bar">
      <h2 routerLink="/" routerLinkActive="active" class="home">Home</h2>
      <h2>Projects</h2>
      <hr noshade size="1" color="#c2c2c2">
      <a routerLink="/speckles" routerLinkActive="active" class="side-bar-item">Speckles</a>
      <a routerLink="/vercel" routerLinkActive="active" class="side-bar-item">Vercel</a>
      <a routerLink="/heatmap" routerLinkActive="active" class="side-bar-item">Heat Map</a>
      <a routerLink="/thissite" routerLinkActive="active" class="side-bar-item">This Site</a>


    </div>
    <div class="component-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
