
<div class="header-container">
  <div class="header">
    <div class="name-container">
      <img src="../assets/speckles.png" width="100px" height="100px">
      <h1 class="name"> Eli Weinberger </h1>
    </div>
    <div class="personal-info-container">
      <p>elibweinberger@gmail.com</p>
      <p>(215) 595-6276</p>
    </div>
  </div>
</div>


<div class="content-container">
  <div class="content">
    <div class="side-bar">
      <h2>Projects</h2>
      <hr>
      <a href="http://www.google.com" class="side-bar-item">Speckles</a>
      <a href="#" class="side-bar-item">Vercel</a>
      <a href="#" class="side-bar-item">Heat Map</a>
      <a href="#" class="side-bar-item">This Site</a>

    </div>
    <div class="component-container">
      <h2>this is a component</h2>
    </div>
  </div>
</div>
