<div class="content-container">
  <h1> Hi, I'm Eli </h1>
  <p>Welcome to my website. This site will show you some of the projects that I have created or am still working on.
    I hope that you find something that interests you. Feel free to reach out to me using the contact information above.</p>
  <h2>About Me</h2>
  <p>I am a software engineer with interests in web development and data analytics. I graduated in May of 2020 with a Bachelor of Science in
    Computer Science from Stevens Institute of Technology. Outside of software engineering I have an interest in motorsport.
    My favorite racing series are Formula 1, WEC, and IMSA. If you'd like to know more about my professional experience you can download my
    resume below.</p>

  <a href="../../assets/Weinberger_Resume.pdf" download> Download Weinberger-Resume.pdf</a>
</div>
